html, body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.options-box hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#left-sidebar{
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  width: 340px;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

#hide-listings,
#show-listings {
  width: 49%;
}

.listing{
  background-color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font:1.2em Minion, Arial, sans-serif;
  color: tomato;
}

.listing:hover {
  background-color: #ff6347;
  color: white;
}

input[type="button"] {
  border: none;
}

.container-fluid {
  height: 100%;
  position: relative;
}

.options-box {
  padding: 10px 10px 20px 10px;
  text-align: center;
  overflow: auto;
}

.options-box h1 {
  color: #ff6347;
  font-size: 22px;
  text-align: center;
}

#search-field {
  text-align:left;
  color: black;
  width: 100%;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

#search-box {
  text-align:center;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
